{% extends 'home/base.html' %} {% block content %}
<title>Home page</title>

<div class="container">
  <div class="row">
    
      <div class="col-md-3 border border-primary">
        <form action="" method="GET"></form>
        {% for blog in blogs %}
        <ul>
          <a href="/?id={{blog.id}}"><li>{{blog.title}}</li></a>
        </ul>
        {% endfor %}
      </form>
      </div>
  

    <div class="col-md-9 border border-success ms-auto py-3">
      <div class="row ms-3">
        <div class="row">
          <h2>{{singleBlog.title}}</h2>
        </div>
        <div class="row">
          <p>Last modified : {{singleBlog.date}}</p>
        </div>
        <hr />
        <div class="row">
          <p>{{singleBlog.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
