{% extends 'home/base.html' %}
{% block content %}
<title>tech villain-search</title>
<div class="container">
    
    <div class="row d-flex justify-content-center">
        <h3 class="m-2 heading text-center">Your search result</h3>
        {% for item in searchItem %}
        <div class="col-lg-5 m-2 ">
          <div class="shadow bgwhite border-radius25 my-3 p-2">
            <div class="row text-center p-2">
              <h3>{{item.title}}</h3>
              <p class="text-muted">{{item.category}}</p>
              <!-- <p style="text-align: justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
                veniam magni impedit voluptatibus itaque dignissimos, in facere
                totam, et sunt hic architecto quae consequatur est!
              </p> -->
              <div class="col">
                <a href="/blog/{{item.category.id}}?getid={{item.id}}" class="btn btn-primary border-radius">Read more</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
   
</div>
{% endblock %}