/* start navbar  */
/* external nav font  */
footer,
nav {
  /* font-family: 'Sansita Swashed', cursive; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: "Acme", sans-serif;
}

.navbar-brand {
  font-family: "Sansita Swashed", cursive;
}

/* for nav background color */
.bgcolor {
  /* background-color: #353536; */
  background: #5d5b6a;
}

.nav-item .btn {
  background: #007bff;
  padding: 3px 15px;
  border-radius: 25px;
}
.nav-item .active,
.nav-item .btn:hover {
  background: white;
  color: black;
}
.brandcolor {
  color: skyblue;
}
.brandcolor:hover {
  color: white;
}
/* nav toggler icon  */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* end navbar  */

/* start footer  */
.footerHeader {
  padding: 0px 0px 0px 0px;
  background-color: #212529;
  margin: 0px;
}
.textColor {
  color: blanchedalmond;
}
/* .activestatus {
  background: white;
} */
/* end footer  */
